.App {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

body{
  font-family: 'Shadows Into Light', cursive;
}


.navbar{
  
  padding: 0px 16px 0 16px;
  margin-left: 16px;
}

.btn{
 margin-left: 50px;
 margin-bottom: 10px;
 width: 80px;
}

.heading {
  margin-top: 10px; 
  text-align: left;
}

.carousel{
  padding-top: 100px;
  padding-bottom: 40px;
  
}
.polaroid {
  height: 200px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 30px 10px;
  width: auto;
  margin: 8px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  
  
}
.cartoon{
  display: inline-block;  
  
}

.about-section{
  text-align: left;
  margin-bottom: 50px;
  padding: 0px 16px 0 16px;
  margin-left: 16px;
  font-family: 'Rubik', sans-serif;
  
}

.about-title{
  font-family: 'Shadows Into Light', cursive;
}